/* start of universal selector */
*{
  padding:0;
  margin:0;
  box-sizing:border-box;
}
/* end of universal selector */

/* start of the body */
body{
  /* color:#eee; */
  font-size:26px;
  background-image:url('/bg.jpeg');
  background-size:70%;
  background-position:center;
}
/* end of body */

/* start of main */
main{
  width:60%;
  text-align:center;
  margin:auto
}
/* end of main */

/* start of header */
header{
  margin:1rem auto 0.5rem auto;
  padding:1.5rem;
}

#title{
  color:#fff;
}

#description{
  margin-top:1rem;
}

em{
  color:#ddd;
  font-size:22px;
  padding:5px;
}

span{
  font-size:24px;
  padding:10px;
  color: #eee;
}
/* end of header */

/* start of form */
#survey-form{
  width:55%;
  min-height:100vh;
  background:#226;
  padding:1rem;
  margin:1rem auto;
  border-radius:5px;
  color: #fff;
  font-size: 22px;
}

.input{
  width:100%;
  padding:5px;
  height:2.2rem;
  margin-top:0.5rem;
}

select{
  font-size:60%;
  outline:none;
  padding:8px;
  margin-top:0.5rem;
  width:100%;
}

input, textarea{
  outline:none;
}

textarea{
  padding:5px;
  height:6rem;
  width:100%;
  margin-top:0.5rem;
  top:5px;
}

::placeholder{
  font-size:100%;
}

.form-group{
  text-align:left;
  margin:1rem;
}
.form-group{
  margin:0 auto 3rem auto;
}

.form-group .chose{
  display:block;
}

.chose{
  margin-top:0.5rem;
}

.button{
  margin-top:2rem;
  margin-bottom:4rem;
  text-align:center ;
}

button{
  width:100%;
  height:2.5rem;
  font-size:20px;
  color:#eee;
  background:rgb(3, 131, 3);
  outline:none;
}
/* end of form */

/* media query at 1000px */
@media(max-width:1000px){ 
  main{
    width:70%;
  }
  
  #survey-form{
    width: 60%;
    font-size: 20px;
  }
}
/* media query at 1000px */

/* media query at 600px */
@media(max-width:600px){
  #survey-form{
    width:80%;
    font-size: 18px;
  }
}

/* media query at 600px */




